/.metadata/
.mule/plugins-tmp/repository/7.13.0/workingDir/4.4.0-20220922/services/mule-service-apikit-metadata-2.3.2-mule-service.jar/org/mule/module/apikit/metadata/internal/model/ApiCoordinateFactory$ApiCoordinateBuilder.class
